<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
</head>
<body>

<div class="site-layout-header">
    {% load static %} 
    <img class="logo" src="{% static "media/streetcard-logo.png" %}"/>
    <div class="topnav">
        <a href="/admin">Home</a>
        <a href="/contact-page">Contact</a>
      </div>
</div>
<div class="body-content">
    {% block content %}
    {% endblock %}
</div>
    <div class="site-layout-footer">
        {% load static %} 
        <img class="logo_footer" src="{% static "media/streetcard-logo.png" %}"/>
    </div>

</body>
</html>