<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
</head>
<body>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {# Navigation Bar #}
        <div class="topnav">
            <img class="logo" src="{% static 'media/streetcard-logo.png' %}" alt="StreetCard Logo, which includes a yellow house and three small kids">
            <a href="/">Home</a>
            <a href="/about-us">About Us</a>
            <a href="/contact-us">Contact Us</a>
        </div>
        
        <div style="padding-left:16px">
        {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/streetcard.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>