{% extends "base.html" %}
{% block title %}
Checkout Page
{% endblock %}
{% block content %}
<h1>Contact Us</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div>
  <div style="float:left">
<form method="post">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {{form.firstname}}
    <br>
    <br>
    {{form.lastname}}
    <br>
    <br>
    {{form.from_email}}
    <br>
    <br>
    {{form.subject}}
    <br>
    <br>
    {{ form.message}}
    <br>
    <br>
    <div class="form-actions">
      <button style="width: 95px;" type="submit">Send</button>
    </div>
</form>
<h5> Please allow up to 72 hours to get a response.</h5>
</div>
<div style="float:rigth">
</div>
</div>
{% endblock %}