{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}" />
<br>
<br>
<br>
<h1 style="text-align: center">{{ header }}</h1>
<br>
<div class="container">
    <a href="goole.com" class="box">
        <figure>
            <img src="{% static 'dashboard/media/dash_calendar.png' %}"></img>
            <figcaption style="font-size:20px; text-align:center">Calendar</figcaption>
        </figure>
    </a>
    <div class="box">B</div>
    <div class="box">C</div>
    <div class="box">D</div>
</div>